section {
    display: flex;
  }
  div {
    background-color: white;
    margin: 2px;
    padding: 4px;
    border: 2px lightgrey;
    color: black;
    flex: 1;
  }
  div.container_flex {
      display: flex;
  }
  div.align_side {
    flex: 1;
    border-right: 2px black;
    background-color: white;
  }
  div.align_right{
     margin-right: 0px;
     background-color: white;
     text-align: left;
     border-left: 2px solid black;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  p.align_center {
    text-align: center;
  }
  body {
    background-color: white;
  }
  p {
    color: black;
    font-family: verdana;
  }
  p.make_big{
    font-size: 20px;
  }
  
  h1{
    color: black;
    font-size: 36px;
  }
  h2{
    color: black;
    font-size: 36px;
  }
  p.small_text_w_color{
    color: purple;
    font-size: 14px;
    padding:1px;
    text-align: center;
  }
  a {
    color: black;
    text-decoration: none;
    background-color: none;
  }
  p.colored{
    color: black;
  }

 